@{Layout = "_Layout";}

@model Bestaurant.Models.Cuisine

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

@Html.ActionLink("Back to Cuisines", "Index", null, null, new { @class = "btn btn-dark btn-large" })