@{Layout = "_Layout";}

<h1>Welcome to Best Restaurant</h1>
<hr>

@using Bestaurant.Models;
@model List<Bestaurant.Models.Cuisine>;

<h2>Here are all the cuisines we have:</h2>

@if(@Model.Count == 0)
{
  <p>Theres currently no entered cuisines.."</p>
}
<div class="row">
@foreach(Cuisine cuisine in Model)
{
    <div class="card col-md-3">
      <div class="card-body">
        <h4 class="card-title">@cuisine.Name</h4>
        <p>@Html.ActionLink("See Details", "Details", new {id = cuisine.CuisineId}, new {@class = "btn btn-info"})</p>
        @* //use html helper method for action link to details *@
      </div>
    </div>
}
</div>